body {
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Header */

header {
    background-color: #ffc369;   
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
}

nav {
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-left: 70px;
}

