body {
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Header */

header {
    background-color: #ffc369;   
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
    height: 45px;
}

.logo-link a:hover {
    box-shadow: 7px 7px 5px #444444;
}

nav {
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
}

nav ul li a {
    text-decoration: none;
    color: #444;
    text-transform: uppercase;
}
