/* Header */
body {
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #ffc369;   
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
    height: 20px;
    width: auto;
}

nav {
    float: right;
}



